/* ===================== */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== */
/* General */
body {
    background-color: rgb(255, 253, 250);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.cabin-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.cabin-gallery img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
}

.cabin-gallery img:hover {
    transform: scale(1.05);
}

.modal-img {
    max-width: 100%;
    max-height: 80vh;
}

.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 250px;
    }
}

.modal-img {
    max-width: 100%;
    max-height: 80vh;
}

main {
    flex: 1;
}

.btn-naranja-rec {
    background-color: #c1450b;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-naranja:hover {
    background-color: #a73a09;
    color: white;
}

/* Estilo de la modal */
.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    /* necesario para el botón absoluto */
    padding: 0;
}

/* Botón "X" flotante sobre la imagen */
.modal-content .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1055;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20%;
    padding: 0.1rem;
    width: 2rem;
    height: 2rem;
}

/* Imagen centrada dentro del modal */
.modal-body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalImage {
    max-height: 90vh;
    max-width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.25rem;
}

.modal-content .btn-close:hover {
    background-color: #a73a09;
}